<script src="../../main.ts"></script>
<div appHoverHighlight [hoverColor]="'pink'" class="product-list-item" [ngStyle]="{'background-color': (index ?? 0)% 2 === 0 ? 'white' : 'lightgrey'}" (click)="onSelectProduct()">
  <div class="content-left">
    <span
      [appShowDetailsOnHover]="'ID: ' + product.productId + ', Description: ' + product.description"
      style="text-decoration: underline; color: blue; cursor: pointer;"
    >
      <h2>{{ product?.name | uppercase}}</h2>
  </span>

    <p>{{ product?.description  }}</p>
    <p>Price: {{ product.price| currency: 'CAD' }}</p>
    <p>model : brand :-> {{product| modelCombine}}</p>
    <p *ngIf="product?.stock">Stock: {{ product?.stock | percent }}  of the required inventory</p>
    <p>bonus stock: <span [innerHTML]="product | colorText"></span></p>

  </div>
  <div class="content-right">
    <img [src]="product.url" alt="{{ product?.name }}" class="product-image">
  </div>
</div>


