<html>
<head>
  <title>{{title}}</title>
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
</head>
<body>
<mat-toolbar color="primary">
  <span>{{ title }}</span>
  <span class="spacer"></span>
  <nav>
    <a mat-button routerLink="Products">Home</a>
    <a mat-button routerLink="modify-product">Modify Product</a>
    <a mat-button routerLink="page-not-found">Page Not Found</a>
  </nav>
</mat-toolbar>

<div class="main">
  <h1>Electronic Products</h1>
  <h2>{{about}}</h2>
  <router-outlet></router-outlet>
</div>


</body>
</html>
