.contentList {
  padding: 10px;
  margin: 10px;
}
mat-card{
  align-self: center;
}

.example-card {
  max-width: 800px;
}

.edit-button {
  background-color: #007bff;
  color: white;
  margin: 5px;
}

.edit-button:hover {
  background-color: #0056b3;
}

.delete-button {
  background-color: #dc3545;
  color: white;
  margin: 5px;
}

.delete-button:hover {
  background-color: #a71d2a;
}
